XTerm*faceName: CodeNewRoman Nerd Font Mono
XTerm*faceSize: 10
XTerm*geometry: 120x40

XTerm*cursorShape: 1
XTerm*cursorBlink: false ! If set this to `true`, blink effect set on the cursor
XTerm*cursorColor: green

XTerm.vt100.background: #252225
XTerm.vt100.foreground: grey


XTerm*VT100.translations: #override \n\
	Ctrl <KeyPress> plus: larger-vt-font() \n\
	Ctrl <KeyPress> minus: smaller-vt-font() \n\
	Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

